.main-btn {
  width: 100px;
  height: 45px;
  background-color: #11807F;
  color: white;
  border: 1px solid black;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 20px 0;
}
.main-btn:hover {
  background-color: white;
  color: #11807F;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Indie Flower', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.main-btn {
  width: 100px;
  height: 45px;
  background-color: red;
  color: white;
  border: 1px solid black;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 20px 0;
}
.main-btn:hover {
  background-color: white;
  color: red;
}
img {
  margin-bottom: 25px;
  max-width: 100%;
  height: auto;
}
header {
  width: 100%;
  justify-content: space-between;
}
@media ( max-width: 500px ) {
  header {
    background: lightgray;
  }
}
header h1 {
  display: flex;
  font-size: 4rem;
  align-content: center;
  text-align: center;
}
@media ( max-width: 500px ) {
  header h1 {
    color: orange;
  }
}
header nav {
  margin-top: 40px;
  justify-content: center;
  display: flex;
  font-size: 14px;
  margin-bottom: 30px;
  text-align: center;
}
header nav a {
  text-decoration: none;
  color: #414547;
  margin-right: 50px;
}
@media ( max-width: 500px ) {
  header nav a {
    margin-right: 25px;
  }
}
@media ( max-width: 500px ) {
  header nav {
    color: red;
    width: 94%;
    margin: 30px auto;
  }
}
.footer {
  width: 100%;
  border-top: 2px dashed silver;
  background: #FFEBCD;
}
.footer p {
  text-align: center;
  color: #212529;
  font-size: 1.6rem;
  padding: 20px;
}
.home {
  border: 2px solid red;
}
.home .intro {
  border: 2px solid red;
}
.home .intro h2 {
  padding: 15px;
  border: 2px solid purple;
}
.home .intro p {
  padding: 0 15px;
  border: 2px solid purple;
}
.home .img-content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border: 2px solid red;
}
.home .img-content img {
  border-radius: 10px;
  width: 28%;
  margin: 20px 2.5%;
  height: 100%;
  border: 2px solid black;
}
@media ( max-width: 500px ) {
  .home .img-content .blast {
    width: 100%;
  }
}
@media ( max-width: 500px ) {
  .home .img-content .sky {
    display: none;
  }
}
@media ( max-width: 500px ) {
  .home .img-content .launch {
    display: none;
  }
}
.home .visit-planets {
  padding: 15px;
  border: 2px solid red;
}
.home .visit-planets h3 {
  margin-top: 11px;
  border: 2px solid red;
}
.home .visit-planets p {
  margin-top: 13px;
  border: 2px solid red;
}
