// .home {


  .home {
    border: 2px solid red;
  
    .intro {
      border: 2px solid red;
  
      h2 {
        padding: 15px;
        border: 2px solid purple;
  
      }
  
      p {
        padding:0 15px;
        border: 2px solid purple;
  
      }
    
    }

    .img-content {
      display: flex;
    flex-wrap: wrap;
    width: 100%;
    border: 2px solid red;
            // width: 48%;
            // padding-left: 1%;
      
            img {
              border-radius: 10px;
              width: 28%;
              margin: 20px 2.5%;
              // border-radius: 20px;
              height: 100%;
              border: 2px solid black;
            }
        
          .blast{
            @media @phone {
              width: 100%;
            }
          }

              .sky{
                @media @phone {
                  display: none;
                }
              }
              .launch{
                @media @phone {
                  display: none;  
            }
          }
        }


        .visit-planets {
          padding: 15px;
          border: 2px solid red;
      
      
          h3 {
            margin-top: 11px;
            border: 2px solid red;
      
            
          }
      
          p {
            margin-top: 13px;
            border: 2px solid red;
      
          }
        }
      }

//   .content-section {
//     margin: 30px 0;
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-between;


   
    
//     .text-content {
//       width: 48%;
//       padding-right: 1%;
//     }

//     .img-content {
//       width: 48%;
//       padding-left: 1%;

//       img {
//         border-radius: 10px;
//       }
//     }
//   }

//   .inverse-content {
//     padding-bottom: 30px;
//     border-bottom: 2px dashed @navigation-border;

//     .text-content {
//       padding-left: 1%;
//       padding-right: 0;
//     }

//     .img-content {
//       padding-right: 1%;
//       padding-left: 0;
//     }
//   }

//   .content-destination {
//     width: 75%;
//     margin: 0 auto 30px;

//   //   @media @mobile {
//   //     width: 100%;
//   //     flex-direction: column;
//   // }

//     img {
//       border-radius: 10px;
//     }
//   }

//   .content-pick {
//     padding-top: 30px;
//     border-top: 2px dashed @navigation-border;
//     display: flex;
//     justify-content: space-between;

//     .destination {
//       width: 30%;
//       margin-bottom: 30px;
//     }
//   }
// }// home





// Home Content

// .home {
//   border: 2px solid red;

//   .intro {
//     border: 2px solid red;

//     h2 {
//       padding: 15px;
//       border: 2px solid purple;

//     }

//     p {
//       padding:0 15px;
//       border: 2px solid purple;

//     }
  
//   }

//   .space-images {
//     display: flex;
//     flex-wrap: wrap;
//     width: 100%;
//     border: 2px solid red;

//     img {
//       width: 28%;
//       margin: 20px 2.5%;
//       border-radius: 20px;
//       height: 100%;
//       border: 2px solid black;
//     }
//     .blast{
//       @media @phone {
//         width: 100%;
//       }
//     }
//     .sky{
//       @media @phone {
//         display: none;
//       }
//     }
//     .launch{
//       @media @phone {
//         display: none;
//       }
//     }

//   }
 
 


//   .visit-planets {
//     padding: 15px;
//     border: 2px solid red;


//     h3 {
//       margin-top: 11px;
//       border: 2px solid red;

      
//     }

//     p {
//       margin-top: 13px;
//               border: 2px solid red;

//     }
//   }




//   // bottom layout text & image

//   .walk {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-between;
//     line-height: 1.3;
//     padding: 20px 0;
//     border: 2px solid greenyellow;


//     .walk-text {
//       padding: 20px;
//       width: 50%;
//       border: 2px solid red;
//       @media @phone {
//         width: 100%;
//       } 

//       h3 {
//         margin-bottom: 10px;
//         border: 2px solid red;
//       }

//       p {
//         margin-bottom: 26px;
//         border: 2px solid red;
//       }
    
//     }
//   }
// }

// .walk-text2 {
//   width: 50%;
//   border-radius: 2px;
//   overflow: hidden;
//   @media @phone {
//     width: 100%;
//   } 
//   img{
//     width: 98%;
//   }
