// Navigation Styles here

// Header Styles


//same as spacew
img {
  margin-bottom: 25px;
  // border: 3px solid purple;
  max-width: 100%;
  height: auto;
  }


header {
  
  width: 100%;
  display: flex;
  justify-content: space-between;
  // flex-direction: row;
  border-bottom: 1px dashed silver;

  @media @phone {
    background: lightgray;
    display: flow-root;

  }
  


  h1 {
    // display: flex;
      margin-top: 20px;
      // font-size: 4rem;
      // align-content: center;
      // text-align: center;

      @media @phone {
        color: orange;
        color: orange;
        margin-left: 30%;
      }
  }     
  
  nav {
    margin-top: 40px; 
      width: 400px;
      justify-content: space-between;
      display: flex;
      font-size: 14px;
      margin-bottom: 30px;
  

    // margin-top: 40px; 
    // justify-content: center;
    // display: flex;
    // font-size: 14px;
    // margin-bottom: 30px;
    // text-align: center;

    a {
      text-decoration: none;
      color: #414547;
                margin-right: 50px;
      // color: #414547;
      // margin-right: 50px;
      
      @media @phone {
        margin-right: 25px;
      }   
    }
  
     
      @media @phone {
        color: red;
        width: 84%;
        margin: 30px auto;
      }    
    }

  }
